:root {
  --color-primary: #221E1F;
  --color-primary-light: #403F41;
  --color-secondary: #F1F1F2;
  --color-accent: #58595B;
  --color-neutral-beige: #6C6E70;
  --color-whatever: #808183;


--font-primary: "Francois One", sans-serif;
--font-secondary: "Merriweather", serif;
}

html {
  font-family: var(--font-primary);
}
