:root {
  --color-primary: #221E1F;
  --color-primary-light: #403F41;
  --color-secondary: #F1F1F2;
  --color-accent: #58595B;
  --color-neutral-beige: #6C6E70;
  --color-whatever: #808183;


--font-primary: "Merriweather", serif;
--font-secondary: "Francois One", sans-serif;
}


html {
  font-family: var(--font-primary);
}

h1 {
  font-family: var(--font-secondary);
  font-style: normal;
  font-weight: bold
  color: var(--color-secondary);
}

h2, h3, h4, h5, h6 {
  font-family: var(--font-secondary);
  font-style: normal;
  font-weight: bold
  color: var(--color-secondary);
}

ul, ol, dl {
  font-family: var(--font-secondary);
  color: var(--color-secondary);
}

a,
a:visited {
  font-family: var(--font-secondary);
  font-style: normal;
  font-weight: bold;
  color: var(--color-secondary);
  text-decoration: none;
}

blockquote, cite {
  font-family: var(--font-primary);
  font-style: normal;
  font-weight: normal;
  color: var(--color-secondary);
}

q {
  font-family: var(--font-primary);
  font-style: italic;
  font-weight: normal;
  color: var(--color-secondary);
}

em, strong, del, ins, abbr, dfn, i, b, mark, s, u {
  font-family: var(--font-primary);
  font-weight: normal;
  color: var(--color-secondary);
}
