footer {
  background-color: var(--color-primary);
  text-decoration: none;
}

footer li a {
  color: var(--color-secondary);
  padding: .42em 0;
  text-decoration: none;
}

.fran {
  font-family: var(--font-secondary);
  color: var(--color-secondary);
}

.mer {
  font-family: var(--font-secondary);
  color: var(--color-secondary);
}
