.btn {
  background-color: var(--color-primary);
  border-color: var(--color-secondary);
  color: var(--color-secondary);
  border-radius: 25px;
}

.btn:hover {
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
  color: var(--color-primary);
  border-radius: 15px;
}

.btn-ghost {
  background-color: transparent;
  color: var(--color-secondary);
  border-radius: 15px;
}

.btn-ghost:hover {
  color: var(--color-secondary);
  border-radius: 15px;
}

.btn-light {
  background-color: var(--color-primary-light);
  border-color: var(--color-secondary);
  color: var(--color-secondary);
  border-radius: 15px;
}

a {
  font-family: var(--font-secondary);
  font-weight: bold;
}
