.btn {
  background-color: var(--color-primary);
  border-color: var(--color-secondary);
  color: var(--color-secondary);
  border-radius: 15px;
}

.btn:hover {
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
  color: var(--color-primary);
  border-radius: 15px;
}

.btn-ghost {
  background-color: transparent;
  color: var(--color-secondary);
  border-radius: 15px;
}

.btn-ghost:hover {
  color: var(--color-primary);
  border-radius: 15px;
}

.btn-light {
  background-color: var(--color-primary-light);
  border-color: var(--color-secondary);
  color: var(--color-secondary);
  border-radius: 15px;
}

.buttons {
  font-family: var(--font-secondary);
  font-weight: bold;
  width: 18rem;
  height: 3.1rem;
}

.buy_button {
  font-family: var(--font-secondary);
  font-weight: bold;
  width: 8rem;
  height: 3.1rem;
}
